<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Text based browser</title>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body>
        <form action="http://localhost:8000" method="POST">
            <div class="container-sm">
              <H1 class="display-1">Go for it</H1>
              <input type="text" class="form-control" id="search_form" aria-describedby="Logo" name="search" placeholder="Enter URL">
              <div id="Logo" class="form-text">The first text browser, which drives in a normal browser</div>
            </div>
    </body>
</html>